fastapi~=0.95.2
pandas~=2.0.1
SQLAlchemy~=1.4.45
numpy~=1.23.5
numba>=0.56.0
python-dateutil~=2.8.2
pandas-ta
ta-lib
ta
technical
cryptography
python-binance
requests~=2.28.1
attrs
dateparser
humanize
imageio
mypy-extensions
numba
schedule
scikit-learn
scipy
tqdm
dateparser
imageio
mypy_extensions
humanize
attrs>=21.1.0
websocket-client
tables
python-binance
pymysql
